:root{
   --main-color:#ffdfb6;
   --main-font-color:#86443e;
   --main-card-color:#efc48f;
   --card-color:#fbfaf8;
   --head-color:#f2ae9b;
   font-size: 16px;
}


.head{
    color:var(--card-color);
    font-weight:bolder;
    font-size:1.8rem;
}

.head2{
    color:var(--main-font-color);
    font-weight:bolder;
    font-size:1.8rem;
}

.title-bar {
    width: 100%;  
    background-color: #f2ae9b;
    padding: 10px 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title {
    color:var(--main-font-color);
    font-weight:bolder;
    font-size:32px;

}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px; 
}

.icon {
    width: 40px;
    height: 40px;
}


.img {
    width: 200px;
    height: 200px;
    border-radius:100%;
    margin-bottom:20px;
}
.background-color{
    background-color:var(--main-color);
}

.card{
    background-color:var(--main-card-color);
    display:flex;
    flex-direction:column;
    align-items: center;
    padding: 20px 20px 10px 20px;
    border-radius: 10%;

}

.card:hover{
    cursor:pointer;
    background-color:#efb8a8;
}
.active-card{
    background-color:#f2ae9b;
    color:white !important;
}
.card-desc{
    color:var(--main-font-color);
    font-size:28px;
    font-weight:bolder;

}

.container{
   margin-top:5px; 
}

.buttons{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-top: 5px;
    flex-wrap: wrap;
}

.button{
    background-color:var(--card-color);
    border-radius: 20%;
    padding:25px 30px;
    font-size: 2rem;
    font-weight:bold;
    color:var(--main-font-color);
    user-select: none;
}

.button:hover{
    cursor:pointer;
    background-color:#efb8a8;
}

.active-button{
    background-color: #f2ae9b;
    color:white !important;
}

.expression-img{
    width: 100%;
    max-width: 600px;
}

@media (max-width: 600px) {
    .img {
        width: 150px;
        height: 150px;
    }

    .button {
        padding: 10px 15px;
    }

    :root {
        font-size: 14px;
    }
}